.datasheet-name {
  letter-spacing: 2px;
  margin: 0;
  padding: 0 10px 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  background: rgb(24, 96, 113);
  background: linear-gradient(90deg, rgb(24, 96, 113) 0%, rgb(29, 26, 27) 40%);
  width: 100%;
}

main h1 {
  letter-spacing: 6px;
  margin: 0;
  padding: 0 10px 10px 20px;
  margin-top: 20px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
  color: #ffffff;
  text-align: center;
  width: 100%;
}

body {
  margin: 0;
  background-color: #c0c2c0;
}

main {
  height: 100vh;
  background: rgb(169, 169, 169);
  background: linear-gradient(180deg, rgb(169, 169, 169) 0%, rgb(233, 234, 236) 100%);
}

.hidden {
  display: none;
}

.test {
  height: 30vh;
}

h2, h3,
p {
  font-weight: bold;
}

span {
  font-weight: bold;
}

.datasheet-description h4 {
  background-color: #6f0c0f;
  font-family: "Barlow", sans-serif;
  color: #ffffff;
  text-align: right;
  border-bottom-left-radius: 100px;
  margin: 0;
  font-size: 1.25rem;
  padding: 10px;
  padding-left: 30px;
}
.datasheet-description p {
  font-family: "Heebo", sans-serif;
  font-style: italic;
  color: #ffffff;
  font-weight: 200;
  font-size: 0.99rem;
  padding: 0 10px;
}

.datasheet-wargear-abilities h4 {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 5px;
  padding-left: 80px;
}
.datasheet-wargear-abilities p {
  font-family: "Barlow", sans-serif;
  font-size: 0.93rem;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 2px dotted black;
  padding-left: 80px;
}

.datasheet-abilities h4 {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
  padding: 5px;
}
.datasheet-abilities p {
  font-family: "Barlow", sans-serif;
  font-size: 0.93rem;
  font-weight: 500;
  padding: 5px 0;
  border-bottom: 2px dotted black;
}

header {
  height: 150px;
  background-color: black;
  margin-bottom: 200px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 30px;
}
form select {
  width: 350px;
}
form select,
form button {
  font-family: "Heebo", sans-serif;
  font-size: 1.5em;
  border: 1px solid #345163;
  color: #345163;
  background-color: #EAEBED;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 15px;
}
form button {
  letter-spacing: 3px;
  width: 50%;
  margin-top: 100px;
  cursor: pointer;
}

footer {
  height: 150px;
  background-color: gray;
  margin-top: 200px;
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
main .logo-warhammer-40k {
  width: 1010px;
  height: 278px;
}

.overlay {
  position: absolute;
  width: 200px;
  display: block;
  top: 0;
  left: 38%;
  transform: translateY(-45%);
  z-index: 1;
}

.logoThead {
  border-bottom: none;
}

footer img {
  width: 120px;
  position: absolute;
  top: 40%;
  left: 66.5%;
  transform: translateY(-45%);
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  .datasheet header .overlay {
    position: absolute;
    width: 200px;
    display: block;
    top: 0;
    left: 40%;
    transform: translateY(-45%);
    z-index: 1;
  }
  footer img {
    width: 120px;
    position: absolute;
    top: 40%;
    left: 65.6%;
    transform: translateY(-45%);
  }
}
.datasheet-profiles {
  margin: 15px 0;
  padding: 15px;
}
.datasheet-profiles thead th {
  font-family: "Heebo", sans-serif;
  color: #ffffff;
  font-size: 0.75rem;
  border-bottom: 0px;
  border-top: 0px;
  text-align: center;
  width: 20px;
}
.datasheet-profiles tbody td {
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #e6e9e2;
  padding: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  font-size: 1.45rem;
  line-height: 20px;
  width: 30px;
  height: 30px;
  color: #186071;
  border: 3px solid #186071;
}

.datasheet-weapons {
  border-collapse: collapse;
}
.datasheet-weapons th,
.datasheet-weapons td {
  padding: 5px;
}
.datasheet-weapons table {
  border-collapse: collapse;
  text-align: center;
  width: 60%;
  border-top: 2px solid #186071;
  border-right: 2px solid #186071;
  border-left: 2px solid #186071;
}
.datasheet-weapons thead {
  color: #ffffff;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  letter-spacing: 1.5px;
}
.datasheet-weapons tbody {
  font-family: "Barlow", sans-serif;
  background-color: #e6e9e2;
  font-size: 0.93rem;
  font-weight: 500;
}
.datasheet-weapons tbody td {
  padding: 5px 0;
  border-bottom: 2px dotted black;
  text-align: center;
}

.Empire-Tau {
  background-color: #186071;
}

.Adepta-Sororitas {
  background-color: #5d0300;
}

.Thousand-Sons {
  background-color: #005d66;
}

.Necrons {
  background-color: #00592e;
}

.Space-Marines {
  background-color: #516765;
}

.Tyranides {
  background-color: #3e1844;
}

.datasheet {
  margin: auto;
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  background-color: #c0c2c0;
}
.datasheet header {
  background-color: #1d1a1b;
  position: relative;
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}
.datasheet header .datasheet-profiles {
  display: block;
}
.datasheet header .datasheet-profiles thead {
  margin: 0;
  padding: 0 15px;
}
.datasheet header .datasheet-profiles tbody {
  padding-bottom: 10px;
  border-bottom-right-radius: 100px;
}
.datasheet header .datasheet-profiles h3 {
  background-color: #186071;
}
.datasheet header .datasheet-profiles .profile-header {
  background-color: #186071;
}
.datasheet header .datasheet-description {
  width: 40%;
  position: relative;
  top: -65px;
  left: 450px;
}
.datasheet .datasheet-other-rules {
  background-color: #e6e9e2;
  width: 70%;
  border-top: none;
  border-bottom: 2px solid #186071;
  border-left: 2px solid #186071;
  border-right: 2px solid #186071;
  height: 50vh;
}
.datasheet .datasheet-weapons {
  margin-top: 25px;
  background-color: #e6e9e2;
  width: 100%;
}
.datasheet .datasheet-weapons th:nth-child(2) {
  width: 150px;
  text-align: left;
}
.datasheet .datasheet-weapons tbody td:nth-child(2) {
  text-align: left;
}
.datasheet .datasheet-abilities {
  background-color: #e6e9e2;
  border-left: none;
  border-right: 2px solid #186071;
  border-top: none;
  border-bottom: 2px solid #186071;
  width: 29.65%;
}
.datasheet .datasheet-abilities h4,
.datasheet .datasheet-abilities p {
  margin: 25px 25px 0px 25px;
}
.datasheet footer {
  display: flex;
  width: 100%;
  position: relative;
  margin: 0;
  margin-bottom: 100px;
}
.datasheet footer .datasheet-keywords {
  width: 71%;
  background-color: #b9b7b8;
  border-top: none;
  border-left: 2px solid #186071;
  border-right: 2px solid #186071;
  border-bottom: 2px solid #186071;
}
.datasheet footer .datasheet-keywords h4 {
  padding: 10px;
  padding-left: 40px;
  margin: 0 0 0 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
}
.datasheet footer .datasheet-keywords p {
  padding: 10px;
  padding-left: 40px;
  margin: 0 0 0 25px;
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
}
.datasheet footer .datasheet-faction-keywords {
  width: 30%;
  background-color: #020e0f;
  border-top: none;
  border-left: none;
  border-right: 2px solid #186071;
  border-bottom: 2px solid #186071;
}
.datasheet footer .datasheet-faction-keywords h4 {
  padding: 10px;
  padding-left: 40px;
  margin: 0 0 0 25px;
  font-family: "Barlow", sans-serif;
  font-weight: 300;
  color: #ffffff;
}
.datasheet footer .datasheet-faction-keywords p {
  padding: 10px;
  padding-left: 40px;
  margin: 0 0 0 25px;
  font-size: 1rem;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  color: #ffffff;
}

.simulateur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form label {
  padding: 10px;
}

#imageDes {
  width: 200px;
}

#lancerDe {
  width: 200px;
}/*# sourceMappingURL=main.css.map */