form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;

    select {
        width: 350px;
    }

    select,
    button {
        font-family: $fontText;
        font-size: 1.5em;
        border: 1px solid #345163;
        color: #345163;
        background-color: #EAEBED;
        border-top-left-radius: 10px;
        border-bottom-right-radius: 10px;
        padding: 15px;
    }

    button {
        letter-spacing: 3px;
        width: auto;
        margin-top: 20px;
        cursor: pointer;
    }
}