.Empire-Tau  {
    background-color: $blueTau;
}

.Adepta-Sororitas {
    background-color: $redSororitas;
}

.Thousand-Sons {
    background-color: $blueThousands;
}

.Necrons {
    background-color: $greenNecrons;
}

.Space-Marines {
    background-color: $blueSpaceMarine;
}

.Tyranides {
    background-color: $purpleTyranids;
}

