.empire-tau {
    background-color: $blueTau;
}

.adepta-sororitas {
    background-color: $redSororitas;
}

.thousand-sons {
    background-color: $blueThousands;
}

.necrons {
    background-color: $greenNecrons;
}

.space-marines {
    background-color: $blueSpaceMarine;
}

.tyranids {
    background-color: $purpleTyranids;
}

