.Empire-Tau  {
    background-color: $blueTau;
}

.Adepta-Sororitas {
    background-color: $redSororitas;
}

.thousand-sons {
    background-color: $blueThousands;
}

.necrons {
    background-color: $greenNecrons;
}

.space-marines {
    background-color: $blueSpaceMarine;
}

.tyranids {
    background-color: $purpleTyranids;
}

