main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    .logo-warhammer-40k{
        width: 1010px;
        height: 278px;
    }
}


.overlay {
    position: absolute;
    width: 200px;
    display: block;
    top: 0;
    left: 38%;
    transform: translateY(-45%);
    z-index: 1;
}

.logoThead {
    border-bottom: none;
}

footer {
    img {
        width: 120px;
        position: absolute;
        top: 40%;
        left: 66.5%;
        transform: translateY(-45%);
    }
}

@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
    .datasheet {
        header {
            .overlay {
                position: absolute;
                width: 200px;
                display: block;
                top: 0;
                left: 40%;
                transform: translateY(-45%);
                z-index: 1;
            }
        }
    }

    footer {
        img {
            width: 120px;
            position: absolute;
            top: 40%;
            left: 65.6%;
            transform: translateY(-45%);
        }
    }
}