body {
    margin: 0;
    background-color: $datasheetBgr;
}

.test {
    height: 30vh;
}

h2,
p {
    font-weight: $fontBold;
}

span {
    font-weight: $fontBold;
}

.datasheet-description {
    h3 {
        background-color: $redBgrPatrol;
        font-family: $fontSubtitle;
        color: $whiteTitle;
        text-align: right;
        border-bottom-left-radius: 100px;
        margin: 0;
        font-size: 1.25rem;
        padding: 10px;
        padding-left: 30px;
    }

    p {
        font-family: $fontText;
        font-style: $fontItalic;
        color: $whiteTitle;
        font-weight: 200;
        font-size: 0.99rem;
        padding: 0 10px;
    }
}

.datasheet-wargear-abilities {
    h3 {
        color: $whiteTitle;
        font-family: $fontTitle;
        font-size: 16px;
        letter-spacing: 1.5px;
        padding: 5px;
        padding-left: 80px;
    }

    p {
        font-family: $fontSubtitle;
        font-size: 0.93rem;
        font-weight: 500;
        padding: 5px 0;
        border-bottom: 2px dotted black;
        padding-left: 80px;
    }
}

.datasheet-abilities {
    h3 {
        color: $whiteTitle;
        font-family: $fontTitle;
        font-size: 16px;
        letter-spacing: 1.5px;
        padding: 5px;
    }

    p {
        font-family: $fontSubtitle;
        font-size: 0.93rem;
        font-weight: 500;
        padding: 5px 0;
        border-bottom: 2px dotted black;
    }

}