// Base colors
$whiteStats :#e6e9e2;
$blackBgr :#1d1a1b;
$whiteTitle :#ffffff;


// Factions colors
$redSororitas :#5d0300;
$greenNecrons :#00592e;
$blueSpaceMarine :#516765;
$blueTau :#186071;
$blueThousands :#005d66;
$purpleTyranids :#3e1844;


