// Base colors
$whiteTitle :#ffffff;
$whiteStats :#e6e9e2;
$blackBgr :#1d1a1b;
$datasheetBgr :#c0c2c0;
$redBgrPatrol: #6f0c0f;
$greyBgrFooter: #b9b7b8;
$blackBgrFooter: #020e0f;


// Factions colors
$redSororitas :#5d0300;
$greenNecrons :#00592e;
$blueSpaceMarine :#516765;
$blueTau :#186071;
$blueThousands :#005d66;
$purpleTyranids :#3e1844;